/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* LOG WINDOW */

.header {
  height: 20rem;
}

.log_window {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log_window img {
  width: 38rem;
}

.login {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
}

.sold_to {
  font-family: inherit;
  height: 100%;
  padding: 0 0.5rem;
}

.btn_log {
  cursor: pointer;
  padding: 0 1.5rem;
  background-color: var(--primary1);
  border: none;
  height: 100%;
  color: var(--white);
  border-radius: 2px;
  font-family: inherit;
  transition: var(--transition);
}

.btn_log:hover,
.btn_log:active {
  background-color: var(--primary1_shades);
}

.sold_info {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.sold_find {
  background-color: var(--white);
  border: none;
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
}

.wrong_sold_to {
  font-size: 1.2rem;
  color: red;
  text-align: center;
}

/* Main content */

.main_content {
  display: grid;
  grid-template-columns: auto 20rem;
  grid-template-rows: auto;
  gap: 1rem;

  padding: 2rem 1rem;
}

main {
  min-height: 50rem;
  padding: 4rem 2rem;
  font-family: inherit;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-left: solid 2px var(--grey);
  border-right: solid 2px var(--grey);
  background-color: var(--grey);
}

.options_tab {
  padding: 0 2rem 3rem 2rem;
  /* height: 20rem; */
  border-radius: var(--border_radius);
  border: 2px solid var(--grey);
  background-color: var(--white);
}

.options_tab_items {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  transform: translateY(-50%);
}

.options_tab_item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20%;
  height: 4rem;
  border: none;
  cursor: pointer;
  color: var(--white);
  border-radius: var(--border_radius);
  font-size: 1.6rem;
  font-family: inherit;
  background-color: var(--primary1);
  transition: var(--transition);
}

.item_active {
  background-color: var(--primary1_shades);
  transform: translateY(-15%);
}

.options_content {
  display: none;
}

.options_content_active {
  display: block;
}

.hidden {
  display: none;
}

/* Clients list */
h3 {
  margin-bottom: 1rem;
}

.clients_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.description_row {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.clients_row {
  display: flex;
}

.description {
  width: 10rem;
}

.description_lp {
  width: 3rem;
}

.td {
  font-weight: 700;
  color: var(--primary1_shades);
}

/* Add customer */

.container {
  margin: 1rem;
  display: flex;
  gap: 2rem;
}

.container_element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 15rem;
}

.container_input,
#software {
  font-size: 1.4rem;
  font-family: inherit;
  padding: 0.25rem;
  border: 2px solid var(--grey);
}

.container_input:focus,
#software:focus {
  outline: none !important;
  border: 1px solid var(--primary1_tint);
  box-shadow: 0 0 5px var(--primary1);
}

.software_flex {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.7rem;
}

.fa-solid {
  cursor: pointer;
}

.soft_added {
  font-weight: 400;
  color: var(--black);
  display: flex;
  justify-content: space-between;
}

.soft_selected {
  font-weight: 400;
  color: var(--black);
  display: flex;
}

.container_input:active {
  border: 2px solid var(--primary1);
}

.add_client_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 15rem;
  height: 3rem;
  margin-top: 3rem;
  border: none;
  cursor: pointer;
  color: var(--white);
  border-radius: var(--border_radius);
  font-size: 1.4rem;
  font-family: inherit;
  background-color: var(--primary1);
  transition: var(--transition);
}
