/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* GENERAL SECTION */
:root {
  --primary1: #57b371;
  --primary1_tint: #ddf0e3;
  --primary1_shades: #468f5a;
  --primary2: #f2b014;
  --primary2_shades: #da9e12;
  --grey: #f1f1f1;
  --border_color: #b8b8b8;
  --white: #fafafa;
  --black: #2b2b2b;
  --black_opact: rgba(43, 43, 43, 0.5);
  --text-regular: 2rem;
  --text-big: 3.2rem;
  --text-small: 1.6rem;
  --shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  --shadow2: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.03);
  --transition: all 0.4s;
  --border_radius: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Calibri', 'Verdana', sans-serif;
  position: relative;
  background-color: var(--white);
}

h2 {
  font-size: var(--text-big);
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

h3 {
  font-size: var(--text-regular);
  font-weight: 500;
}

/* Logging section */
.log_window {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.log_window img {
  width: 38rem;
}

.login {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3rem;
}

.sold_to {
  font-family: inherit;
  height: 100%;
  padding: 0 0.5rem;
}

.btn_log {
  cursor: pointer;
  padding: 0 1.5rem;
  background-color: var(--primary1);
  border: none;
  height: 100%;
  color: var(--white);
  border-radius: 2px;
  font-family: inherit;
  transition: var(--transition);
}

.btn_log:hover,
.btn_log:active {
  background-color: var(--primary1_shades);
}

.sold_info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sold_find {
  background-color: var(--white);
  border: none;
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
}

.wrong_sold_to {
  font-size: 1.2rem;
  color: red;
  text-align: center;
}

.adminBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 3rem;
  background-color: var(--primary1);
  text-decoration: none;
  font-family: inherit;
  font-size: 1.4rem;
  color: var(--white);
  transition: var(--transition);
  border-radius: 2px; 
}

.adminBtn:hover,
.adminBtn:active {
  background-color: var(--primary1_shades);
}
/* App section */

.main_container {
  width: 100%;
}

.header {
  position: relative;
  height: 30rem;
  background: url('../img/big_logo.png') center no-repeat;
  background-color: var(--black);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 6rem;
}

main {
  font-family: inherit;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

aside {
  align-self: start;
  padding: 1rem;
  font-family: inherit;
  font-size: 1.8rem;
  line-height: 2.4rem;;
  border-radius: 5px;
  border: solid 3px var(--grey);
  box-shadow: var(--shadow2);
  background-color: var(--white);
}

aside p {
  margin-bottom: 1rem;
}

.section-2 {
  padding: 1rem 1rem;
}

.client_name{
  margin-left: 1rem;;
  color: var(--white);
  font-size: 1.6rem;
}

.nav_logo img {
  height: 4rem;
}

.nav_btns {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nav_btn {
  background-color: transparent;
  padding: 0.6rem 1rem;
  font-size: 1.4rem;
  font-family: inherit;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-bottom: 3px solid transparent;
  transition: var(--transition);
}

.nav_btn:hover {
  border-bottom: 3px solid var(--primary2);
  /* transform: scale(1.05); */
}

.nav_btn_active{
  border-bottom: 3px solid var(--primary2);
}

.nav_account_settings {
  color: white;
  transition: var(--transition);
  cursor: pointer;
}

.nav_account_settings:hover,
.nav_account_settings:active {
  color: var(--primary2);
  /* transform: scale(1.05); */
}

.account_settings_sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--black_opact);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6rem;
}

.account_settings_sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: var(--text-regular);
  color: white;
  display: block;
  transition: 0.3s;
}

.account_settings_sidenav a:hover {
  color: var(--primary2);
}

.closebtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.searching_bar {
  position: absolute;
  top: 24rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4rem;
  width: 95%;
  padding-left: 0.5rem;
  border-radius: 3px;
  background-color: var(--white);
  overflow: hidden;
}

.search_field {
  font-family: inherit;
  height: 100%;
  padding: 0.5rem;
  width: 100%;
  outline: none;
  border: none;
}

.search_btn {
  padding: 0 2rem;
  height: 100%;
  line-height: 4rem;
  cursor: pointer;
  font-size: var(--text-regular);
  color: var(--white);
  background-color: var(--primary1);
  transition: var(--transition);
}

.search_btn:active,
.search_btn:hover {
  background-color: var(--primary2);
}

.answers {
  top: 29rem;
  position: absolute;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.help_topics_ul {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: #f1f1f1e1;
}

.help_topic_li:link,
.help_topic_li:visited {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
  font-size: var(--text-regular);
}

.help_topic_li:hover,
.help_topic_li:active {
  color: var(--black);
}

/* Main content */

.quick_links_ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quick_links_btn {
 width: 100%;
}

.regular_btn {
  font-family: inherit;
  font-size: var(--text_regular);
  color: var(--white);
  background-color: var(--primary1);
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  transition: var(--transition);
}

.regular_btn:hover {
background-color: var(--primary2);
}

/* DOWNLOAD */

.soft_name {
  grid-area: header;
}

.soft_section {
  border: solid 2px var(--grey);
  border-radius: 5px;
  padding: 1.6rem;
  box-shadow: var(--shadow2);
  transition: var(--transition);
}

.soft_section:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow);
}

.soft_ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.soft_li {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: var(--text-small);
}

.soft_btn:link,
.soft_btn:visited {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 12rem;
  color: var(--black);
  background-color: var(--white);
  text-decoration: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: solid 2px var(--grey);
  transition: var(--transition);
}

.soft_btn:hover,
.soft_btn:active {
  color: var(--white);
  background-color: var(--primary1);
}


/* Ticket section */

.form_flex {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.form_row {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  /* padding: 1rem 0; */
}

.form_text {
  flex-direction: column;
  gap: 0.5rem;
}

.form_row textarea,
.form_row input,
.form_row select {
  width: 100%;
  font-family: inherit;
  padding: 0.5rem;
}

#soft_version {
  width: 50%;
}

#submit {
  border: none;
  background-color: var(--primary1);
  color: var(--white);
  font-weight: 500;
  padding: 1rem 0;
  border-radius: 3px;
  cursor: pointer;
  transition: var(--transition);
}

#submit:hover {
  background-color: var(--primary2);
}

.download_btn {
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--black);
  text-align: center;
  border-radius: 5px;
  padding: 0.15rem 1rem;
  transition: var(--transition);
}

.download_btn:hover {
  background-color: var(--primary1);
  border: 1px solid var(--primary1);
  color: var(--white);
}